<p id="notice"><%= notice %></p>

<h1>Brains</h1>

<table>
  <thead>
    <tr>
      <th>Flavor</th>
      
      <th>iq</th>
      
      
      <th>fresh</th>
      
    </tr>
  </thead>

  <tbody>
    <% @brains.each do |brain| %>
      <tr>
        <td><%= brain.flavor %></td>
        <td><%= brain.iq %></td>
        <td><% if brain.fresh %>
            <%= image_tag 'brains/1496336964_Brain-Games-grey.png', class: 'brains_fresh'%>
        <%else %>    
            <%= image_tag 'brains/1496336978_Brain-Games-red', class: 'brains_fresh'%>
        <%end%>    
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


