

<h1>Zombies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th>Age</th>
      <th>Email</th>
      <th>Rotten</th>
        <th>Avatar</th>
        <th>Owner</th>
        
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      
    <% @zombies.each do |zombie| %>
      <tr>
        <td><%= zombie.name %></td>
        <td><%= zombie.bio %></td>
        <td><%= zombie.age %></td>
        <td><%= zombie.email %></td>
        
        
        <td><%= zombie.rotten ? "yes" : "No" %></td>
        <td class="ava" ><%= image_tag zombie.avatar %></td>
            <% if zombie.user_id?   %>
          <td><%= User.find(zombie.user_id).email %></td>
          <% else %>
          <td> no tiene</td>
          <% end %>
		  <% if current_user.role == "subscriber" %>
		  <% elsif current_user.role == "contribuidor" %>
		  
        <td><%= link_to 'Show', zombie ,class:"button" %></td>
        <td><%= link_to 'Edit', edit_zombie_path(zombie) ,class:"button secondary" %></td>
		  <% else %>
		  <td><%= link_to 'Show', zombie ,class:"button" %></td>
        <td><%= link_to 'Edit', edit_zombie_path(zombie) ,class:"button secondary" %></td>
        <td><%= link_to 'Destroy', zombie,class:"button alert", method: :delete, data: { confirm: 'Are you sure?' } %></td>
         <% end %>
      </tr>
          
    <% end %>
  </tbody>
    
</table>



<br>
<% if current_user.role == "subscriber" %>
<%else%>
<%= link_to 'New Zombie', new_zombie_path, class:"button success" %>
<% end %>
