<p id="notice"><%= notice %></p>
<div class="container">
    <div class="row">
        <div class="small-12 large-6 columns">
             <div class="ava2"><%= image_tag @zombie.avatar%></div>
            </div>
        
       <div class="small-12 large-6 columns">
<table>
  <thead>
    <tr>
      <th ><strong>Name:</strong></th>
      <th><strong>Bio:</strong></th>
      <th ><strong>Age:</strong></th>
      <th > <strong>Email:</strong></th>
        <th > <strong> <strong>Rotten:</strong>:</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td><%= @zombie.name %></td>
    <td><%= @zombie.bio %></td>
    <td><%= @zombie.age %></td>
        <td> <%=@zombie.email%></td>
        <td> <%=@zombie.rotten%></td>
        
    </tr>
    
      
    
    
    
  </tbody>
</table>
 </div>
</div>
<div id="brains">
    <%= render :partial=>@zombie.brains.reverse%>
</div>

<%= form_for([@zombie, Brain.new],remote:true)do|f|%>
    <div class="field">
        <%= f.label :flavor%>
        <%= f.text_field :flavor%>
    </div>
    <div class="field">
        <%= f.label :iq%>
        <%= f.number_field :iq%>
    </div>
    <div class="field">
        <%= f.label :fresh%>
        <%= f.check_box :fresh%>
    </div>
    <div class="action">
        <%= f.submit "Add brain",class:"button success"%>
    </div>

    
    <%end%>
    
<%= link_to 'Edit', edit_zombie_path(@zombie), class:"button" %> |
<%= link_to 'Back', zombies_path, class:"button" %>
