// Place all the styles related to the zombies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ava{
    width: 20px;
    height: 10px;
}
.ava2{
    width: 320px;
    height: 310px;
}