<!DOCTYPE html>
<html lang="en">
  <head>
      
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
<div class="top-bar"></div>      
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
        
      <li class="menu-text">APP DE LALO</li>
       
      <li>
        <a href="#">Zombie</a>
        <ul class="menu vertical">
           <li><%= link_to 'Lista Zombie', zombies_path %></li>
          <li><%= link_to 'Nuevo Zombie', new_zombie_path %></li>
        </ul>
      </li>
     
    </ul>
  
 </div>
    <div class="top-bar-right">
    <% if user_signed_in? %>
    <strong>Bienvenido homie <%=current_user.email%> </strong>
    <strong><%= link_to "cerrar sesion", destroy_user_session_path, method: :delete%></strong>
    <strong><%= link_to "Editar perfil", edit_user_registration_path %></strong>
       
         <%elsif admin_signed_in? %>
		<strong>Bienvenido  <%=current_admin.email%> </strong>
		    <strong><%= link_to "cerrar sesion", destroy_admin_session_path, method: :delete%></strong>
			<% else %>
        <strong><%= link_to "login", new_user_session_path %></strong>
        <strong><%= link_to "Registro", new_user_registration_path %></strong>
    <% end %>
        </div>
</div>
       
    <% if alert %>
      <p class="alert alert-danger"><%=alert%></p>
      
      <% end %> 
    <%= yield %>

  </body>
</html>
